.logo {
  width: 100%;
  height: 100px;
}

.main-container {
  background-color: #fcfcfc;
}

.iconCart {
  /* vertical-align: middle; */
  color: #221d1d;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 900px;
}

.iconDiv {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #c53838;
  border-radius: 50px;
  transform: translate(8px, 80%);
}
.totalItem {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  align-items: center;
}
